{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<!-- CONTENT =============================-->
<section class="item content">
<div class="container toparea">
	<div class="underlined-title">
		<div class="editContent">
			<h1 class="text-center latestitems">{{ product.name }}</h1>
		</div>
		<div class="wow-hr type_short">
			<span class="wow-hr-h">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="productbox">
				<img src="{{ product.image.url }}" alt="">
				<div class="clearfix">
				</div>
				<br/>

			</div>
		</div>
		<div class="col-md-4">
			<h1>Цена: {{ product.price }}р.</h1>
			<br>
			<form action="{% url 'cart_add' product.pk %}" method="post">
				{{ cart_product_form }}
				{% csrf_token %}
				<input type="submit" value="Add to cart">
			</form>
			<div class="properties-box">
				<ul class="unstyle">
					<li><b class="propertyname">Описание:</b> {{ product.description }}</li>
					<li><b class="propertyname">Размеры:</b> {{ product.size }}</li>
					<li><b class="propertyname">Производитель:</b> {{ product.producer }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}